spaces
gradio>=6.0,<7
torch==2.8.0
torchvision==0.23.0
numpy==1.26.4
scipy
lightning==2.3.0
hydra-core==1.3.2
hydra-zen
hydra-colorlog
omegaconf
rich
timm==0.6.7
opencv-python-headless
ffmpeg-python
scikit-image
termcolor
einops
imageio==2.34.1
av<14
joblib
trimesh
ultralytics==8.3.50
yacs
smplx
tqdm
pillow
wandb
sentencepiece
transformers
huggingface_hub
